<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="APL_FE.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <APL_FE.Properties.Settings>
            <setting name="MONGO_URI" serializeAs="String">
                <value>mongodb://localhost:27017/APL?authSource=admin&amp;serverSelectionTimeoutMS=5000&amp;connectTimeoutMS=10000</value>
            </setting>
        </APL_FE.Properties.Settings>
    </applicationSettings>
</configuration>